.stats {
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.statCol {
  flex: 0 0 40%;
  border: 1px solid #f1f1f1;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  border-radius: 4px;
  padding: 20px;
}
.statRow {
  flex: 0 0 50%;
  border: 1px solid #000;
}
